Ch_25 Code/CarBizObject WSDL File/CarBizObject.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://IntertechTraining.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://IntertechTraining.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://IntertechTraining.com/">
      <s:element name="RemoveCar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="carID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RemoveCarSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveCar" />
  </wsdl:message>
  <wsdl:message name="RemoveCarSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveCarResponse" />
  </wsdl:message>
  <wsdl:portType name="CarBizObjectSoap">
    <wsdl:operation name="RemoveCar">
      <wsdl:input message="tns:RemoveCarSoapIn" />
      <wsdl:output message="tns:RemoveCarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarBizObjectSoap" type="tns:CarBizObjectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemoveCar">
      <soap:operation soapAction="http://IntertechTraining.com/RemoveCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarBizObjectSoap12" type="tns:CarBizObjectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemoveCar">
      <soap12:operation soapAction="http://IntertechTraining.com/RemoveCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarBizObject">
    <wsdl:port name="CarBizObjectSoap" binding="tns:CarBizObjectSoap">
      <soap:address location="http://localhost:1116/SimpleWsdlDocument/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="CarBizObjectSoap12" binding="tns:CarBizObjectSoap12">
      <soap12:address location="http://localhost:1116/SimpleWsdlDocument/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>